@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-huge: 3rem;
  --font-size-giant: 4rem;
  --font-size-massive: 5rem;
  --font-size-titanic: 6rem;
}

.dark,
:root{
  --clr-text: white;
  --clr-body-bg: linear-gradient(to right, #011824, #0c202b);
  --clr-search-bar: linear-gradient(to right, #0b3f5a, #042538);
  --clr-current-location: linear-gradient(to right, #025482 19%, #003e50 100%);
  --clr-card-bg: linear-gradient(#002639, #00131d);
  --clr-box-shadow: rgba(255, 255, 255, 0.5);
  --clr-feels-like: rgb(210, 210, 210);
  --clr-hour-forecast: linear-gradient(#011824, #0c202b);
  --clr-placeholder: hsl(0% 0% 10%);
}

::placeholder {
  color: var(--clr-placeholder);
}

button {
  outline: none;
  border: none;
}

.light,
--root {
  --clr-text: black;
  --clr-body-bg: linear-gradient(to right, #ffffff, #5a666e);
  --clr-search-bar: linear-gradient(to right, #ffffff 40%, #c0c0c0);
  --clr-current-location: linear-gradient(#e8e8e8, #ffffff );
  --clr-card-bg: linear-gradient(#D9D9D9, #D9D9D9);
  --clr-box-shadow: rgba(13, 13, 13, 0.5);
  --clr-feels-like: rgb(85, 85, 85);
  --clr-hour-forecast: linear-gradient(#7365a4, #F6FAD9);
  --clr-theme-toggle: black;
  --clr-placeholder: hsl(0, 0%, 10%);
}

.light svg path, .light {
  box-shadow: 0 0 8px black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--clr-body-bg);
  padding: 20px min(80px, 5%);
  color: var(--clr-text);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
  white-space: nowrap;
}

header {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header > *:not(.search-bar) {
  cursor: pointer;
}

.theme-toggle {
  width: fit-content;
  height: fit-content;
  margin-right: 1rem;
  position: relative;
}

.theme-icon {
  position: absolute;
  inset: 100%;
  height: clamp(50px, 50px, 50px);
  width: clamp(20px, 20px, 20px);
  min-width: 20px;
  min-height: 50px;
  max-width: 20px;
  opacity: 0;
}

.theme-icon.active {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}


.theme-icon * {
  stroke: var(--clr-theme-toggle);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: min(2rem, 5%);
  padding: 0 min(30px, 5%);
  flex-basis: 800px;
  min-width: 270px;
  min-height: 60px;
  background-image: var(--clr-search-bar);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: -1px -1px 4px var(--clr-box-shadow);
}



@media (width <= 450px) {
  header {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .search-bar {
    flex: 1 1 100%;
  }
}

.search-bar .search-input {
  background-color: transparent;
  flex: 1;
  border: none;
  outline: none;
  caret-shape: block;
  caret-color: var(--clr-text);
  min-height: 100%;
  color: inherit;
}

.current-location {
  color: inherit;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  background-image: var(--clr-current-location);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-weight: bolder;
  white-space: nowrap;
  box-shadow: -1px -1px 4px var(--clr-box-shadow);
}

@media (450px < width < 820px) {
  .current-location span {
    display: none;
  }
}

main {
  display: grid;
  grid-template-areas:
    "city weather weather"
    "daily hourly hourly";
  gap: 50px;
  justify-content: center;
}

@media (width <= 1130px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

.card {
  background-image: var(--clr-card-bg);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: -1px -1px 4px var(--clr-box-shadow);
}

.city-time-date {
  grid-area: city;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: min(50px, 5%);
  padding: 1.5rem;
}

@media (width <= 620px) {
  .city-time-date {
    flex-direction: column;
  }
}

.city-time-date .container {
  display: flex;
  flex-direction: column;
  place-content: center;
}


.city-time-date *:not(:last-child) {
  font-weight: bold;
}

.city-time-date .time-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-time-date .city {
  white-space: wrap;
  font-size: 3rem;
  text-align: center;
}

.city-time-date .time-date .time {
  display: flex;
  height: 80px;
  font-size: 4.5rem;
  position: relative;
}

.city-time-date .time-date .time .seconds {
  font-size: 1rem;
  position: absolute;
  right: -1.5rem;
  bottom: -0.125rem;
}

.weather {
  grid-area: weather;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.first-column {
  display: grid;
  place-content: center;
  gap: 20px;
}

.temprature {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.temprature .real {
  position: relative;
  top: -20px;
  height: 65px;
  font-size: 5rem;
  font-weight: bold;
}

.temprature .feels-like {
  font-size: clamp(1rem, 1rem + 1vw, 20px);
  color: var(--clr-feels-like);
}

.temprature .feels-like .word {
  margin-right: 10px;
}

.temprature .feels-like span:last-child {
  font-size: 32px;
  font-weight: bold;
}

.sunrise-sunset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sunrise-sunset > * {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sunrise-sunset > * * {
  display: grid;
}

.state {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 600;
  position: relative;
}

.state .condition {
  position: absolute;
  bottom: 0;
}

.state img {
  display: block;
  min-width: 200px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

@media (width <= 1130px) {
  .info {
    height: 100%;
    width: 100%;
  }
}

.weather .info > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.daily-forecast {
  grid-area: daily;
  padding: 2vw;
}

.daily-forecast h2 {
  text-align: center;
}

.daily-forecast .day {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.hourly-forecast {
  grid-area: hourly;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
  overflow-x: scroll;
  scrollbar-width: none;
}




.hourly-forecast .hours {
  display: flex;
  align-items: center;
  gap: 30px;
  min-height: fit-content;
  
}

.hourly-forecast .hours .hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--clr-hour-forecast);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  padding: 10px;
  gap: 10px;
}

@media (width <= 715px) {
  .hours .hour:nth-child(3) {
    scale: 1.2;
  }
  .hours .hour:first-child, .hours .hour:last-child {
    scale: 0.8;
  }
}

.hourly-forecast .hours .hour .time,
.hourly-forecast .hours .hour .temp {
  font-weight: bold;
}

.hourly-forecast .hours .hour .time{
  font-size: large;
}